.Rproj.user
.Rhistory
*.RData
.RDataTmp*
.Ruserdata
*.exe
reports/*.html
report1*.html
report1_files/
report1_param_files/

data/
data/births/birth_1987_2024.RDS
results/
savepoint/*
!savepoint/cleaned_cluster_df.RData
!savepoint/cleaned2025_cluster_df.RData
!savepoint/cleaned_cluster_extrapolate_df.RData
!savepoint/cleaned2025_cluster_extrapolate_df.RData
cluster/outfiles/
